* {
  font-family: 'Roboto', sans-serif;
}

.app-header {
  padding:3px;
  background: black;
  color: white;
  width: 100%;
  margin-bottom: 0px;
}
.completed-section {
  height: 100vh;
  background: gray;
}

.wrapper {
  padding: 10px;
  display:flex;
  flex-wrap: wrap;
  }

.wrapper .task {
   height: 100px;
  border: 1px solid #c9c8c8;
  margin: 3px;
  padding: 10px;
  user-select: none;
  display: flex;
  text-align: center;
  align-items: center;
  width: 150px;
  
}
.task:nth-child(odd) {
  background: #FFB9C4;
color:#000;
}
.task:nth-child(even) {
  background: #9A91AC;
  color: #FFF;
}

.completed-header{
  width: 100%;
  text-align: center;
  background:  #AEAEAE;
  color: #000;
  padding: 5px;
  margin-bottom: 0px;
  font-weight: bold;
}

.wip {
  
}

.task.complete {
  height: 40px;
  width: 100%;
  background: #77DD77;
  line-height: 10px;
  border: 1px dashed green;
}

.debug {
  margin: 0;
  background: black;
  color: white;
  padding: 5px;
}

.trash {
  margin: 0;
  padding:0;
  width: 100%;
  height: 200px;
  background: red;
}